*.o
*.mod
*.pdf

*.eps

fort.*

*~
.*~
*#

.DS_Store

main
simul
gplot
montecarlo
estimates_epsilons
montecarlo_par
montecarlo_initcond
markovsimul
smm_estimation
cal_estimation
elasticities
policies
euler
irfs
aggirfs
stats
main2
